---
import MainLayout from "../layouts/Layout.astro";
import Calendar from '../components/Calendar.jsx'; // ⬅️ Importamos el componente
---

<MainLayout title="Calendario">
  <section class="max-w-6xl mx-auto p-6"> {/* Ampliamos el ancho para el calendario */}
    <h2 class="text-3xl font-bold mb-6 text-white tracking-tight">Calendario de Tareas</h2>
    
    {/* Usamos el componente BigCalendar y lo hidratamos en el cliente */}
    <Calendar client:load /> 

  </section>
</MainLayout>
